
@{
    ViewBag.Title = "Envio de e-mails";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Envio de e-mails</h2>
        <hr class="star-primary">
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("SendMail", "Home"))
    {
        <div class="row control-group">
            <div class="form-group col-md-12 floating-label-form-group controls">
                <label class="control-label">Upload da planilha com dados (<a href="~/Content/Planilha de emails.xlsx" target="_blank">Baixar planilha modelo</a>)</label>
                <input type="file" class="file" id="uploadPlan" data-show-preview="false">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-12">
                <button id="btnNext" type="submit" class="btn btn-success btn-lg">Próximo Passo ></button>
            </div>
        </div>
    }
</div>
