
@{
    ViewBag.Title = "Envio de e-mails";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/SendMail.js"></script>
}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Envio de e-mails</h2>
        <h3>@(ViewBag.CountEmails ?? 0) email(s) carregado(s)</h3>
        <hr class="star-primary">
    </div>
</div>

<div class="row" id="divForm">
    <form name="sentMessage" id="formSentMessage">        
        <div class="row control-group">
            <div class="form-group col-md-12 floating-label-form-group controls">
                <label>Nome do remetente</label>
                <input type="text" class="form-control" placeholder="Nome" id="name" required>
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-md-12 floating-label-form-group controls">
                <label>E-mail do remetente</label>
                <input type="email" class="form-control" placeholder="Email" id="email" required>
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-md-12 floating-label-form-group controls">
                <label>Senha do e-mail do remetente</label>
                <input type="password" class="form-control" placeholder="Senha" id="password" required>
            </div>
        </div>        
        <div class="row control-group">
            <div class="form-group col-md-12 floating-label-form-group controls">
                <label class="control-label">Assunto do e-mail</label>
                <input type="text" class="form-control" placeholder="Assunto" id="emailSubject" required>
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-md-12 floating-label-form-group controls">
                <label>Email</label>
                <div id="summernote"></div>
            </div>
        </div>
        <input type="hidden" id="hiddenEmails" value="@ViewBag.Emails" />
        <br>
        <div class="row">
            <div class="form-group col-md-12">                
                <button id="btnEnviar" type="submit" class="btn btn-success btn-lg">Enviar</button>
            </div>
        </div>
    </form>
</div>

<div class="row" id="divResult">
    Resultado aqui...
</div>